@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #0b0f1a;
  --card: #111827;
  --text: #e5e7eb;
}

html, body {
  height: 100%;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

.card {
  background-color: var(--card);
  border-radius: 0.75rem;
  border: 1px solid #1f2937;
}